/* ============================
   GLOBAL
============================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111827;
    color:#ffffff;

    font-family:Arial, Helvetica, sans-serif;

}

/* ============================
   CONTAINER
============================ */

.container{

    max-width:430px;

    margin:auto;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:20px;

}

/* ============================
   HEADER
============================ */

header{

    text-align:center;

}

h1{

    font-size:32px;

    font-weight:bold;

}

.subtitle{

    margin-top:8px;

    color:#9ca3af;

}

/* ============================
   CAMERA
============================ */

.camera-box{

    position:relative;

    margin-top:20px;

    width:100%;

}

video,
img{

    display:block;

    width:100%;

    height:auto;

    border-radius:20px;

    background:#000;

}

canvas{

    display:none;

}

/* ============================
   FACE GUIDE
============================ */

#guide{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:170px;
    height:220px;

    border:3px solid rgba(255,255,255,.8);

    border-radius:120px;

    pointer-events:none;

}

/* ============================
   BUTTONS
============================ */

.buttons{

    margin-top:25px;

    display:flex;

    justify-content:center;

    gap:20px;

}

button{

    cursor:pointer;

}

#captureBtn{

    width:90px;
    height:90px;

    border-radius:50%;

    border:8px solid #ffffff;

    background:#2563eb;

}

#retakeBtn,
#useBtn{

    width:65px;
    height:65px;

    border:none;

    border-radius:50%;

    background:#374151;

    color:#ffffff;

    font-size:26px;

}

/* ============================
   STATUS
============================ */

#status{

    margin:20px 0 10px;

    text-align:center;

    color:#86efac;

    font-size:18px;

}
